In [2]:
# lİNEER REGRESYON

# Denklem: y= mx + b

# y --> Bağımlı değişken (Fiyat) (Tahmin etmek istediğimiz veri)

# x --> Bağımsız değişken (Konum,Boyut) (Tahmin etmemizi sağlayan diğer veriler)

# m --> Bağımsız değişken katsayısı (Location*x + Size*x) (Her değişkenin, fiyata etkisi aynı değildir)

# b --> Sabit

In [4]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [6]:
df=pd.read_csv("house_data.csv")

In [12]:
df

       Price   Location  Size
0    8500000  melikgazi   290
1    4700000  melikgazi   240
2    2700000      talas   175
3    6800000  kocasinan   260
4    3600000  melikgazi   180
..       ...        ...   ...
205  1790000  kocasinan   140
206  1690000  kocasinan   130
207  1375000  melikgazi   110
208  1340000  melikgazi   110
209  2295000     develi   165

[210 rows x 3 columns]

In [8]:
df.Size.value_counts() #Hangi boyutlarda daha çok veri var

Size
175    24
150    18
165    17
140    14
110    11
160     9
135     9
120     8
185     8
170     8
155     8
180     7
200     7
145     7
100     6
130     6
125     5
210     3
65      2
220     2
250     2
240     2
290     2
115     2
230     2
300     1
80      1
260     1
248     1
45      1
330     1
193     1
286     1
105     1
190     1
187     1
195     1
90      1
75      1
85      1
176     1
157     1
95      1
168     1
420     1
550     1
Name: count, dtype: int64

In [24]:
df.Location_develi.value_counts() #Hangi ilçede kaç veri var

Location_develi
False    182
True      28
Name: count, dtype: int64

In [26]:
df.Location_hacılar.value_counts()

Location_hacılar
False    209
True       1
Name: count, dtype: int64

In [28]:
df.Location_i̇ncesu.value_counts()

Location_i̇ncesu
False    207
True       3
Name: count, dtype: int64

In [30]:
df.Location_kocasinan.value_counts()

Location_kocasinan
False    141
True      69
Name: count, dtype: int64

In [32]:
df.Location_melikgazi.value_counts()

Location_melikgazi
False    123
True      87
Name: count, dtype: int64

In [34]:
df.Location_talas.value_counts()

Location_talas
False    189
True      21
Name: count, dtype: int64

In [36]:
df.Location_yahyalı.value_counts()

Location_yahyalı
False    209
True       1
Name: count, dtype: int64

In [38]:
df.info() #String veri kontrolü

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Price               210 non-null    int64
 1   Size                210 non-null    int64
 2   Location_develi     210 non-null    bool
 3   Location_hacılar    210 non-null    bool
 4   Location_i̇ncesu    210 non-null    bool
 5   Location_kocasinan  210 non-null    bool
 6   Location_melikgazi  210 non-null    bool
 7   Location_talas      210 non-null    bool
 8   Location_yahyalı    210 non-null    bool
dtypes: bool(7), int64(2)
memory usage: 4.8 KB

In [10]:
df=pd.get_dummies(df,columns=['Location'])  #Nümerik olmayan sütunları sayıya çevir

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Price               210 non-null    int64
 1   Size                210 non-null    int64
 2   Location_develi     210 non-null    bool
 3   Location_hacılar    210 non-null    bool
 4   Location_i̇ncesu    210 non-null    bool
 5   Location_kocasinan  210 non-null    bool
 6   Location_melikgazi  210 non-null    bool
 7   Location_talas      210 non-null    bool
 8   Location_yahyalı    210 non-null    bool
dtypes: bool(7), int64(2)
memory usage: 4.8 KB

In [22]:
df

,Price,Size,Location_develi,Location_hacılar,Location_i̇ncesu,Location_kocasinan,Location_melikgazi,Location_talas,Location_yahyalı
0,8500000,290,False,False,False,False,True,False,False
1,4700000,240,False,False,False,False,True,False,False
2,2700000,175,False,False,False,False,False,True,False
3,6800000,260,False,False,False,True,False,False,False
4,3600000,180,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...
205,1790000,140,False,False,False,True,False,False,False
206,1690000,130,False,False,False,True,False,False,False
207,1375000,110,False,False,False,False,True,False,False
208,1340000,110,False,False,False,False,True,False,False
209,2295000,165,True,False,False,False,False,False,False

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Price               210 non-null    int64
 1   Size                210 non-null    int64
 2   Location_develi     210 non-null    bool
 3   Location_hacılar    210 non-null    bool
 4   Location_i̇ncesu    210 non-null    bool
 5   Location_kocasinan  210 non-null    bool
 6   Location_melikgazi  210 non-null    bool
 7   Location_talas      210 non-null    bool
 8   Location_yahyalı    210 non-null    bool
dtypes: bool(7), int64(2)
memory usage: 4.8 KB

In [12]:
y=df[["Price"]]
x=df[["Size","Location_develi","Location_hacılar","Location_i̇ncesu","Location_kocasinan","Location_melikgazi","Location_talas","Location_yahyalı"]]

In [14]:
l=LinearRegression()
model=l.fit(x,y)

In [16]:
#DEVELİ
develi_tahmin=[120,1,0,0,0,0,0,0]
develi=model.predict([develi_tahmin])
print("Develide",develi_tahmin[0],"m² bir evin tahmini fiyatı: ",develi)

Develide 120 m² bir evin tahmini fiyatı:  [[1775005.45655208]]

C:\Users\EvopaRTion\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [34]:
#HACILAR
hacilar_tahmin=[100,0,1,0,0,0,0,0]
hacilar=model.predict([hacilar_tahmin])
print("Hacılarda",hacilar_tahmin[0],"m² bir evin tahmini fiyatı: ",hacilar)

Hacılarda 100 m² bir evin tahmini fiyatı:  [[7382656.00575663]]

C:\Users\EvopaRTion\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [50]:
#İNCESU
incesu_tahmin=[120,0,0,1,0,0,0,0]
incesu=model.predict([incesu_tahmin])
print("İncesuda",incesu_tahmin[0],"m² bir evin tahmini fiyatı: ",incesu)

İncesuda 120 m² bir evin tahmini fiyatı:  [[1311458.24763391]]

C:\Users\EvopaRTion\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [28]:
#KOCASİNAN
kocasinan_tahmin=[220,0,0,0,1,0,0,0]
kocasinan=model.predict([kocasinan_tahmin])
print("Kocasinanda",kocasinan_tahmin[0],"m² bir evin tahmini fiyatı: ",kocasinan)

Kocasinanda 220 m² bir evin tahmini fiyatı:  [[3267203.1489421]]

C:\Users\EvopaRTion\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [62]:
#MELİKGAZİ
melikgazi_tahmin=[120,0,0,0,0,1,0,0]
melikgazi=model.predict([melikgazi_tahmin])
print("Melikgazide",melikgazi_tahmin[0],"m² bir evin tahmini fiyatı: ",melikgazi)

Melikgazide 120 m² bir evin tahmini fiyatı:  [[1580479.68686523]]

C:\Users\EvopaRTion\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [70]:
#TALAS
talas_tahmin=[120,0,0,0,0,0,1,0]
talas=model.predict([talas_tahmin])
print("Talasta",talas_tahmin[0],"m² bir evin tahmini fiyatı: ",talas)

Talasta 120 m² bir evin tahmini fiyatı:  [[1566477.49146101]]

C:\Users\EvopaRTion\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [66]:
#YAHYALI
yahyali_tahmin=[120,0,0,0,0,0,0,1]
yahyali=model.predict([yahyali_tahmin])
print("Yahyalıda",yahyali_tahmin[0],"m² bir evin tahmini fiyatı: ",yahyali)

Yahyalıda 120 m² bir evin tahmini fiyatı:  [[1503124.91430058]]

C:\Users\EvopaRTion\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(